<header>
  <div class="overlay text-center">
    <div class="container padding bg">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5 text-white">
              Build a landing page for your business or project and generate more leads!
              </h1>
              <div class="col-8  mx-auto">
                <form >
                  <div class="form-row">
                    <div class="col-12 col-md-8 mb-2 mb-md-0">
                      <input class="form-control form-control-lg " placeholder="Enter your email...">
                   </div>
                    <div class="col-12 col-md-3">
                      <button class="form-control form-control-lg btn btn-primary ">Submit</button>
                    </div>

                  </div>
                </form>

              </div>

        </div>
      </div>
    </div>
  </div>
</header>

<section id="Features">
  <div class="container padding">
    <div class="row">
      <div class="col-md-4 col-sm-12 mx-auto text-center">
        <div class="features-icons-item mb-5">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-desktop m-auto text-primary"></i>
          </div>
          <h3>Bootstrap 4 Ready</h3>
            <p class="lead mb-0">Featuring the latest build of Bootstrap 4 framework!</p>
          </div>

        </div>
      <div class="col-md-4 col-sm-12 mx-auto text-center ">
          <div class="features-icons-item mx-auto mb-5">
          <div class="features-icons-icon d-flex">
            <i class="material-icons m-auto text-primary">layers</i>
            </div>
            <h3>Bootstrap 4 Ready</h3>
            <p class="lead mb-0">Featuring the latest build of Bootstrap 4 framework!</p>
            </div>
      </div>
      <div class="col-md-4 col-sm-12 mx-auto text-center">
          <div class="features-icons-item mx-auto mb-5">
        <div class="features-icons-icon d-flex">
            <i class="far fa-check-circle text-primary m-auto"></i>
          </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0"> Ready to use with your own content, or customize the source files!</p>
            </div>
      </div>

    </div>
  </div>
</section>

<section id="Spacer">
<div class="container-fluid p-0">
  <div class="row no-gutters">

    <div class="col-lg-6 showcase-img text-white order-lg-2" id='one'>

    </div>
    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
      <h2>Fully Responsive Design</h2>
      <p class="lead mb-0"> When you use a theme created by Start Bootstrap, you knoe that the theme will look great on any device, whether it's a phone, tablet,or desktop the page will behave responsively!</p>
    </div>
  </div>
  <div class="row no-gutters">

      <div class="col-lg-6 showcase-img text-white order-lg-1" id='two'>

      </div>
      <div class="col-lg-6 order-lg-2 my-auto showcase-text">
        <h2>Fully Responsive Design</h2>
        <p class="lead mb-0"> When you use a theme created by Start Bootstrap, you knoe that the theme will look great on any device, whether it's a phone, tablet,or desktop the page will behave responsively!</p>
      </div>
    </div>

    <div class="row no-gutters">

        <div class="col-lg-6 showcase-img text-white order-lg-2" id='three'>

        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0"> When you use a theme created by Start Bootstrap, you knoe that the theme will look great on any device, whether it's a phone, tablet,or desktop the page will behave responsively!</p>
        </div>
      </div>
</div>
</section>

<section id="Testimony">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/testimonials-1.jpg" alt="">
          <h3>Margaret E.</h3>
          <p class="lead mb-0">"This is fantastic! Thanks so much guys!"</p>
      </div>
      <div class="col-md-4">
        <img src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/testimonials-2.jpg" alt="">
          <h3>Fred S.</h3>
          <p class="lead mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
      </div>
      <div class="col-md-4 ">
        <img src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/testimonials-3.jpg" alt="">
          <h3>Sarah W.</h3>
          <p class="lead mb-0">"Thanks so much for making these free resources available to us!"</p>
      </div>
    </div>
  </div>
</section>

<section id="reg">
  <div class="container">
    <div class="col-12 mx-auto mb-5 text-center">
      <h1 class="text-white">Ready to get started? sign up now!</h1>

    </div>
    <div class="col-8  mx-auto">
        <form >
          <div class="form-row">
            <div class="col-12 col-md-8 mb-2 mb-md-0">
              <input class="form-control form-control-lg " placeholder="Enter your email...">
           </div>
            <div class="col-12 col-md-3">
              <button class="form-control form-control-lg btn btn-primary ">Submit</button>
            </div>

          </div>
        </form>

      </div>
  </div>
</section>


<section id="Footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2 ">

          <li class="list-inline-item">
            <a href="">About</a></li>
            <li class="list-inline-item">.</li>
            <li class="list-inline-item "><a href="">Contact</a></li>
            <li class="list-inline-item">.</li>
            <li class="list-inline-item "><a href="">Terms of Use</a></li>
            <li class="list-inline-item">.</li>
            <li class="list-inline-item "> <a href="">Privacy Policy</a></li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">© Your Website 2018. All Rights Reserved.</p>
          </div>

          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-2 ">

                  <li class="list-inline-item"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item "><a href=""><i class="fab fa-instagram"></i></a></li>

                  </ul>
          </div>

    </div>



  </div>
</section>
